.App {
  font-family: sans-serif;
}

.Header {
    color: white;
    background-color: #211a52;
    padding: 10px 10% 10px 10%!important;
}

.table-container {
  padding: 10px 20px 10px 10px;
  width: 100%;
}

.table-header {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
.table-header-text {
  line-height: 2.5;
}

.agent-table-item:hover{
  background-color: #211a52;
}
