.App {
  font-family: sans-serif;
  text-align: center;
}

.Header {
    color: white;
    background-color: #211a52;
    padding: 10px 10% 10px 10%!important;
}

.table-container {
  margin: 10px 20px 10px 50px;
  width: 100%;
}

